@using BLL_DAL;

@{
    ViewBag.Title = "ThongTinChiTiet";
    Layout = "~/Views/Shared/_Layout.cshtml";
    VW_TAILIEU item = (VW_TAILIEU)ViewData["data"];
    List<VW_TAILIEU> listItem = (List<VW_TAILIEU>)ViewData["listdata"];
    List<string> listItemDM = (List<string>)ViewData["listDangMuon"];
    List<VW_TAILIEU> listItemKhongLuuThong = (List<VW_TAILIEU>)ViewData["listKhongLuuThong"];
    int sanco = listItem.Count() - listItemDM.Count() - listItemKhongLuuThong.Count();
}

<div class="container thongtinchitiet">
    <div class="wrapper__info">
        <div class="info">
            <div class="img">
                <img src="@Url.Action("getImage","Image", new { hinhanh = item.HinhAnh })" loading="lazy" alt="">
            </div>
            <div class="thongtintailieu">
                <div class="title">
                    <h2>CÔNG NGHỆ SẢN XUẤT CÁC SẢN PHẨM TỪ SỮA VÀ THỨC UỐNG</h2>

                </div>
                <div class="line"></div>
                <div class="content">
                    <div class="tacgia">
                        <span>Tác giả: </span> <a href="#">@item.TenTacGia</a>
                    </div>
                    <div class="nhaxuatban">
                        <span>Nhà xuất bản: </span> <a href="#">@item.TenNhaXuatBan</a>
                    </div>
                    <div class="sotrang"><span>Số trang: </span><a href="#">@item.SoTrang</a></div>
                    <div class="chude">
                        <span>Chủ đề: </span><a href="#">@item.TenChuDe</a>
                    </div>
                    <div class="kyhieuxepgia">
                        <span>Kí hiệu xếp giá: </span> <a href="#">@item.MaViTri</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="thongtinchung">
            <div class="title">
                <div class="line"></div>
                <h3>Thông tin chung</h3>
            </div>
            <div class="content">
                <div class="tongso">
                    <p>Tổng số: @listItem.Count()</p>
                </div>
                <div class="sanco">
                    <p>Sẵn có: @sanco</p>
                </div>
                <div class="dangchomuon">
                    <p>Đang cho mượn: @listItemDM.Count()</p>
                </div>
            </div>
            <div class="listtailieu">
                <div class="header__list">
                    <div class="masach">
                        <p>Mã sách</p>
                    </div>
                    <div class="tinhtrang">
                        <p>Tình trạng</p>
                    </div>
                    <div class="vitri">
                        <p>Vị trí</p>
                    </div>
                </div>
                <div class="content__list">
                    @{
                        if (ViewData["listdata"] != null)
                        {
                            foreach (VW_TAILIEU data in listItem)
                            {
                                <div class="row">
                                    <div class="masach">
                                        <p>@data.MaVach</p>
                                    </div>
                                    <div class="tinhtrang">
                                        @{
                                            if (data.TinhTrangXoa == true)
                                            {
                                                <div class="box khongluuthong">
                                                    <p>Không lưu thông</p>
                                                </div>
                                            }
                                            else if (listItemDM.Contains(data.MaVach))
                                            {
                                                <div class="box dangmuon">

                                                    <p>Đang mượn</p>
                                                </div>
                                            }
                                            else if (data.TinhTrangXoa == false)
                                            {
                                                <div class="box sanco">

                                                    <p>Sẵn có</p>
                                                </div>
                                            }

                                        }

                                    </div>
                                    <div class="vitri">
                                        @{
                                            string[] arrString = data.MaViTri.Split('-');
                                            string tang = "";
                                            if (arrString[0].ToString() == "A")
                                            {
                                                tang = "Tầng 1";
                                            }
                                            else if (arrString[0].ToString() == "B")
                                            {
                                                tang = "Tầng 2";
                                            }
                                            else if (arrString[0].ToString() == "C")
                                            {
                                                tang = "Tầng 3";
                                            }
                                            else
                                            {
                                                tang = "Tầng 4";
                                            }
                                        }
                                        <p>@tang</p>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>

            </div>
        </div>
    </div>
</div>

